[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
bs4 = "*"
lxml = "*"
flake8 = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.9"
